<div my-head></div>


<div class="im_page_wrap clearfix" ng-class="{im_page_peer_not_selected: !curDialog.peer}">

  <div class="im_page_split clearfix">

    <div class="im_dialogs_col_wrap noselect" ng-controller="AppImDialogsController" my-dialogs ng-class="search.query.length > 0 ? 'im_dialogs_col_search' : ''">

      <div my-dialogs-list class="im_dialogs_col">
        <div class="im_dialogs_wrap nano">
          <div class="im_dialogs_scrollable_wrap nano-content">

            <div class="im_dialogs_empty_wrap" ng-if="isEmpty.dialogs && isEmpty.contacts">
              <h3 class="im_dialogs_empty_header" my-i18n="im_no_contacts"></h3>
              <p class="im_dialogs_empty_lead" my-i18n="im_get_started_long"></p>
              <button type="button" class="btn btn-primary btn-sm" ng-click="importContact()" my-i18n="im_add_contact"></button>
              <button ng-if="phonebookAvailable" type="button" class="btn btn-primary btn-sm im_dialogs_import_phonebook" ng-click="importPhonebook()" my-i18n="im_import_phonebook"></button>
            </div>

            <ul class="nav nav-pills nav-stacked">
              <li class="im_dialog_wrap" my-dialog dialog-message="dialogMessage" ng-repeat="dialogMessage in dialogs track by dialogMessage.peerID" ng-class="{active: curDialog.peerID == dialogMessage.peerID}"></li>
            </ul>

            <div class="im_dialogs_contacts_wrap" ng-show="contacts.length > 0">
              <h5 my-i18n="im_contacts_title"></h5>
              <ul class="nav nav-pills nav-stacked">
                <li class="im_dialog_wrap" ng-repeat="contact in contacts | orderBy:'user.sortName' track by contact.userID" ng-class="{active: curDialog.peerID == contact.userID}">
                  <a class="im_dialog" ng-mousedown="dialogSelect(contact.peerString)">
                    <div class="im_dialog_photo pull-left" my-peer-photolink="contact.userID" img-class="im_dialog_photo" watch="true"></div>
                    <div class="im_dialog_message_wrap">
                      <div class="im_dialog_peer">
                        <span class="im_dialog_user" my-peer-link="contact.userID"  verified="true"></span>
                      </div>
                      <div class="im_dialog_message">
                        <span class="im_dialog_message_text" my-user-status="::contact.userID"></span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="im_dialogs_contacts_wrap" ng-show="foundPeers.length > 0">
              <h5 my-i18n="im_found_title"></h5>
              <ul class="nav nav-pills nav-stacked">
                <li class="im_dialog_wrap" ng-repeat="foundPeer in foundPeers track by foundPeer.id" ng-class="{active: curDialog.peerID == foundPeer.id}">
                  <a class="im_dialog" ng-mousedown="dialogSelect(foundPeer.peerString)">
                    <div class="im_dialog_photo pull-left" my-peer-photolink="foundPeer.id" img-class="im_dialog_photo" watch="true"></div>
                    <div class="im_dialog_message_wrap">
                      <div class="im_dialog_peer">
                        <span class="im_dialog_user" my-peer-link="foundPeer.id"  verified="true"></span>
                      </div>
                      <div class="im_dialog_message">
                        <span class="im_dialog_message_text" ng-bind="::'@' + foundPeer.username"></span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="im_dialogs_messages_wrap" ng-show="foundMessages.length > 0">
              <h5 my-i18n="im_messages"></h5>
              <ul class="nav nav-pills nav-stacked">
                <li class="im_dialog_wrap" my-dialog dialog-message="dialogMessage" ng-repeat="dialogMessage in foundMessages track by dialogMessage.mid" ng-class="{active: curDialog.peerID == dialogMessage.peerID &amp;&amp; curDialog.messageID == dialogMessage.id}"></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="im_history_col_wrap noselect" ng-controller="AppImHistoryController" ng-class="{im_history_loaded: state.loaded}">
      <style type="text/css">
        form.tab-form-demo .tab-pane {
          margin: 20px 20px;
        }
      </style>

      <div ng-controller="TabsDemoCtrl">
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="Общие">
            <h3>Общие фильтры чата</h3>
              <table style="width:100%">
                <tr>
                  <td>
                  <label>Матерные слова</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
                      </div>
                    </label>
                  </td>
                  <td>
                  <label>GIF</label><br/>
                    <label class="checkbox-inline">
                      <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                    </label>
                  </td> 
                  <td>
                  <label>Стикеры</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                  <label>Картинки</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                    </label>
                  </td>
                  <td>
                  <label>Аудио</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td> 
                  <td>
                  <label>Видео</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                </tr>
                <tr>
                  <td>
                  <label>Ссылки на сайты</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                  <td>
                  <label>Документы</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                  <td>
                  <label>Геопозиция</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                </tr>
                 <tr>
                  <td>
                  <label>Стоп-слова</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                  <td>
                  <label>Арабский язык</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                  <td>
                  <label>Только для чтения</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                
                <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
            </div>
                  </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Команды ботам</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                       
                      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
                    </div>
                  </label>
                  </td>
                  <td>
                    <label>Ответы ботов</label><br/>
                    <label class="checkbox-inline">
                     <div class="btn-group">
                      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'On'">On</label>
                      <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Off'">Off</label>
                    </div>
                  </label>
                  </td>
                  <td>
                    <div class="col-xs-6">
                        Minutes step is:
                      <select class="form-control" ng-model="mstep" ng-options="opt for opt in options.mstep"></select>
                    </div>
                  </td>
                </tr>
              </table>
          </uib-tab>
          <uib-tab index="1" heading="Стоп-слова">
            <div ng-controller="StopwordsController">
              <style type="text/css">
                .grid {
                  width: 100%;
                  height: 100%;
                }
              </style>
              
              <br/>
              <button type="button" class="btn btn-success" ng-click="toggleModifierKeysToMultiSelect()">Toggle modifierKeysToMultiSelect</button>  <strong>ModifierKeysToMultiSelect:</strong> <span ng-bind="gridApi.grid.options.modifierKeysToMultiSelect"> </span>
              <br/>
              <input type="text" ng-model="newWord" class="form-control">
              <br/>
              <button type="button" class="btn btn-success" ng-disabled="!gridApi.grid.options.multiSelect" ng-click="selectAll()">Select All</button>
              <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
              <button type="button" class="btn btn-success" ng-click="setSelectable()">Set Selectable</button>
              <button type="button" class="btn btn-success" ng-click="toggleFullRowSelection()">Toggle full row selection</button>
              <br/>

              <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Белый лист">
            <h3>Выберите контакты</h3>
            <div class="select-box">
            <p>Selected: {{selectedParticipant}}</p>
            <ui-select ng-model="selectedParticipant" theme="select2" ng-disabled="disabled" style="min-width: 300px;" title="Choose a person" append-to-body="true">
              <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.username}}</ui-select-match>
              <ui-select-choices repeat="person in participants | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="participant.name | highlight: $select.search"></div>
                <small>
                  email: {{participant.email}}
                  age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                </small>
              </ui-select-choices>
            </ui-select>
            <p class="alert alert-info positioned">The select dropdown menu should be displayed above this element.</p>
          </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>

</div>

<div class="footer_wrap footer_empty"></div>

<toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"></toaster-container>
